reti_logiche_project.cache/*
reti_logiche_project.hw/*
reti_logiche_project.ip_user_files/*
reti_logiche_project.xpr
reti_logiche_project.runs/*          
tb_abs_calculator_behav.wcfg
reti_logiche_project.sim/*
